{% extends "base.html" %}

{% block content %}
<script>
    function toggleSelf(self) {
        var row = self.parentElement.parentElement;
        $(row).find(":input:not(#editButton)").each(function () {
            $(this).prop('disabled', function (i, v) { return !v; });
        });
    };
    function deleteSelf(self) {
        self.parentElement.parentElement.remove();
    }
</script>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 id="organization-manager">Organization Manager</h1>
            <p>This page is dedicated to building out relationships between domains and their respective organization or
                agency. Organizations have many domains and organizations.</p>
            <p>It is <strong>highly</strong> encouraged that you modify this information with
                <code>database-tools.py</code> and configuring this site with <code>config.yml</code> files. See the
                documentation.
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <table id="catagoryTable" class="table table-borderless order-list">
                <thead>
                    <tr>
                        <td>Organization</td>
                        <td>Parent UUID</td>
                        <td>Description</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <tr hidden class="hidden-table-reference">
                        <td class="col-sm-4">
                            <input disabled model-id="" onchange="validateTitle(this)" id="organizationTitle"
                                placeholder="Super Cool Company" type="text" name="name" class="form-control" />
                        </td>
                        <td class="col-sm-2">
                            <input disabled onchange="validateTitle(this)" id="organizationParent" placeholder="Parent"
                                class="form-control" />
                        </td>
                        <td class="col-sm-4">
                            <textarea disabled class="form-control" id="organizationDesc" rows="1"></textarea>
                        </td>
                        <td class="col-sm-4">
                            <button onclick="toggleSelf(this)" id="editButton" type="button"
                                class="btn btn-outline-primary"><i class="fas fa-cog"></i></button>
                            <button disabled onclick="saveSelf(this)" type="button" class="btn btn-primary"><i
                                    class="fas fa-save"></i></button>
                            <button disabled onclick="deleteSelf(this)" type="button" class="btn btn-danger"><i
                                    class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    {% if organizations|length == 0 %}
                    <tr>
                        <td class="col-sm-4">
                            <input disabled model-id="" onchange="validateTitle(this)" id="organizationTitle"
                                placeholder="Super Cool Company" type="text" name="name" class="form-control" />
                        </td>
                        <td class="col-sm-2">
                            <input disabled onchange="validateTitle(this)" id="organizationParent" placeholder="Parent"
                                class="form-control" />
                        </td>
                        <td class="col-sm-4">
                            <textarea disabled class="form-control" id="organizationDesc" rows="1"></textarea>
                        </td>
                        <td class="col-sm-4">
                            <button onclick="toggleSelf(this)" id="editButton" type="button"
                                class="btn btn-outline-primary"><i class="fas fa-cog"></i></button>
                            <button disabled onclick="saveSelf(this)" type="button" class="btn btn-primary"><i
                                    class="fas fa-save"></i></button>
                            <button disabled onclick="deleteSelf(this)" type="button" class="btn btn-danger"><i
                                    class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    {% else %}
                    {% for org in organizations %}
                    <tr>
                        <td class="col">
                            <button disabled type="button" class="btn btn-outline-primary">{{ org.id }}</button>
                        </td>
                        <td class="col-sm-4">
                            <input disabled model-id="" onchange="validateTitle(this)" id="organizationTitle"
                                placeholder="Super Cool Company" value="{{ org.title }}" type="text" name="name"
                                class="form-control" />
                        </td>
                        <td class="col-sm-2">
                            <input disabled onchange="validateTitle(this)" value="{{ org.parent_id }}"
                                id="organizationParent" placeholder="Parent" class="form-control" />
                        </td>
                        <td class="col-sm-4">
                            <textarea disabled class="form-control" id="organizationDesc"
                                rows="1">{{ org.description }}</textarea>
                        </td>
                        <td class="col-sm-4">
                            <button onclick="toggleSelf(this)" id="editButton" type="button"
                                class="btn btn-outline-primary"><i class="fas fa-cog"></i></button>
                            <button disabled onclick="saveSelf(this)" type="button" class="btn btn-primary"><i
                                    class="fas fa-save"></i></button>
                            {% if loop.index > 1 %}
                            <button disabled onclick="deleteSelf(this)" type="button" class="btn btn-danger"><i
                                    class="fas fa-trash"></i></button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <button id="addRow" type="button" class="btn btn-outline-primary">Add row</button>
                            <button type="button" class="btn btn-outline-warning"><i
                                    class="fas fa-history"></i></button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{% endblock %}